<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<Configuration status="ERROR" monitorInterval="3600" packages="com.test.spring.cloud.eureka.zuul">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] -%m%n" />
        </Console>
        
        <RollingFile name="RollingFileInfo" fileName="eureka-zuul-log/info.log" filePattern="eureka-zuul-log/info-%d{yyyy-MM-dd}.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] -%m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>
        
        <RollingFile name="RollingFileError" fileName="eureka-zuul-log/error.log" filePattern="eureka-zuul-log/error-%d{yyyy-MM-dd}.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [%l] -%m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="64MB" />
            </Policies>
        </RollingFile>
        
        <RollingRandomAccessFile name="traceLogger" fileName="eureka-zuul-log/trace.log" filePattern="eureka-zuul-log/trace-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] -%m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />                
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    
    
    <Loggers>
        <Logger name="org.springframework" level="WARN"></Logger>
        <Logger name="org.mybatis" level="WARN"></Logger>
        <Logger name="org.hibernate" level="WARN"></Logger>
        <Logger name="org.apache.hadoop" level="WARN"></Logger>
        <Logger name="org.apache.spark" level="WARN"></Logger>
        <Logger name="org.spark-project.jetty" level="WARN"></Logger>
        <Logger name="org.apache.jasper" level="WARN"></Logger>
        <Logger name="io.netty" level="WARN"></Logger>
        <Logger name="akka.event" level="WARN"></Logger>

        <Logger name="traceLogger" level="info" additivity="false">  
            <Appender-Ref ref="traceLogger" />  
        </Logger>

        <Root level="debug"  includeLocation="true">
            <Appender-ref ref="Console" />
            <Appender-ref ref="RollingFileInfo" />
            <Appender-ref ref="RollingFileError" />
        </Root>
    </Loggers>
    
</Configuration>